html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
 }

 
#underlay {
    height: 100%;
    width:100%;
    display: flex;
    flex-direction: column;
}

.underlay-row {
    height: 50%;
    width: 100%;
    display: flex;
}

.underlay-tile {
    height: 100%;
    width: 50%;
    font-size: 3em;
    display: flex;
}

#p3-emu, #p4-emu {
    align-items: flex-end;
}

#p2-emu, #p4-emu {
    justify-content: flex-end;
}

#p1-emu {
    background-color: red;
}

#p2-emu {
    background-color: purple;
}

#p3-emu {
    background-color: orange;
}

#p4-emu {
    background-color: green;
}

#overlay {
    height: 100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    top: 0px;
    left: 0px;
    z-index: 100;
}

.body-container {
    height: 151.4mm;
    width: 85.9mm;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: gainsboro;
    border: .25in solid black;
    border-radius: 10px;
}

.button-default {
    border-width: 0px;
    background-color: #dcdcdc;
    font-size: 5em;
}

.button-default:hover {
    background-color: darkorange;
}

.plug-button {
    height: 20%;
    width: 100%;
}

#plug-submenu {
    z-index: 1;
    position: absolute;
}

.on-off-cancel-button {
    height:25%;
    width: 100%;
    
}

.hidden {
    visibility: hidden;
}

@keyframes grid-select {
    0% {
        background: linear-gradient(
        to bottom
        , white 0%
        , white 0%
        , yellow 0%
        , yellow 10%
        , white 10%
        , white 100%
        );
    }
    /* 50% {
        background: linear-gradient(
        to bottom
        , white 0%
        , white 45%
        , yellow 45%
        , yellow 55%
        , white 55%
        , white 100%
        );
    } */
    100% {
        background: linear-gradient(
        to bottom
        , white 0%
        , white 90%
        , yellow 90%
        , yellow 100%
        , white 100%
        , white 100%
        );
    }
}

.grid-select {
    /* background-color: rgba(0, 0, 0, 0%); */
        /* background: linear-gradient(
        to top, 
        white 0%, 
        white 90%, 
        yellow 10%, 
        white 100%,
        white 100%
        ); */
    /* background: linear-gradient(
        to bottom
        , white 0%
        , white 45%
        , yellow 45%
        , yellow 55%
        , white 55%
        , white 100%
    ); */
    
    animation-name: grid-select;
    animation-duration: 2s;
    animation-timing-function: linear;
}