.desktop-text {
  background-color: #cffcff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop-text .overlap-wrapper {
  background-color: #cffcff;
  width: 1920px;
  height: 1080px;
}

.desktop-text .overlap {
  position: relative;
  width: 1807px;
  height: 984px;
  top: 20px;
  left: 56px;
}

.desktop-text .overlap-group {
  position: absolute;
  width: 1807px;
  height: 984px;
  top: 0;
  left: 0;
}

.desktop-text .keyboard {
  position: absolute;
  width: 1275px;
  height: 922px;
  top: 55px;
  left: 270px;
  overflow: hidden;
}

.desktop-text .div {
  position: relative;
  width: 1330px;
  height: 879px;
  top: 12px;
  left: -31px;
  background-color: #cffcff;
}

.desktop-text .overlap-2 {
  position: absolute;
  width: 1275px;
  height: 206px;
  top: 341px;
  left: 31px;
}

.desktop-text .row {
  position: absolute;
  width: 1275px;
  height: 106px;
  top: 0;
  left: 0;
}

.desktop-text .key-t {
  width: 100px;
  top: 6px;
  left: 0;
  position: absolute;
  height: 100px;
}

.desktop-text .group {
  position: relative;
  width: 96px;
  height: 84px;
  top: 3px;
  left: 3px;
}

.desktop-text .div-wrapper {
  position: relative;
  width: 94px;
  height: 84px;
  background-color: #d9d9d9;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040, inset 0px 4px 4px #00000040;
}

.desktop-text .text-wrapper {
  position: absolute;
  width: 22px;
  height: 48px;
  top: 18px;
  left: 36px;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-text .key-th {
  width: 100px;
  top: 6px;
  left: 115px;
  position: absolute;
  height: 100px;
}

.desktop-text .text-wrapper-2 {
  position: absolute;
  width: 67px;
  height: 51px;
  top: 17px;
  left: 14px;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-text .key-a {
  width: 100px;
  top: 6px;
  left: 230px;
  position: absolute;
  height: 100px;
}

.desktop-text .text-wrapper-3 {
  position: absolute;
  width: 26px;
  height: 48px;
  top: 18px;
  left: 34px;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-text .key-e {
  width: 100px;
  top: 6px;
  left: 345px;
  position: absolute;
  height: 100px;
}

.desktop-text .text-wrapper-4 {
  position: absolute;
  width: 29px;
  height: 48px;
  top: 17px;
  left: 33px;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-text .key-s {
  width: 100px;
  top: 6px;
  left: 460px;
  position: absolute;
  height: 100px;
}

.desktop-text .text-wrapper-5 {
  position: absolute;
  width: 26px;
  height: 48px;
  top: 21px;
  left: 34px;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-text .key-sh {
  width: 100px;
  top: 6px;
  left: 575px;
  position: absolute;
  height: 100px;
}

.desktop-text .text-wrapper-6 {
  position: absolute;
  width: 47px;
  height: 49px;
  top: 18px;
  left: 24px;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-text .key-o {
  width: 100px;
  top: 6px;
  left: 690px;
  position: absolute;
  height: 100px;
}

.desktop-text .text-wrapper-7 {
  position: absolute;
  width: 30px;
  height: 48px;
  top: 18px;
  left: 32px;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-text .key-i {
  width: 100px;
  top: 6px;
  left: 805px;
  position: absolute;
  height: 100px;
}

.desktop-text .text-wrapper-8 {
  position: absolute;
  width: 14px;
  height: 48px;
  top: 18px;
  left: 40px;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-text .key-in {
  width: 100px;
  top: 6px;
  left: 921px;
  position: absolute;
  height: 100px;
}

.desktop-text .text-wrapper-9 {
  position: absolute;
  width: 63px;
  height: 48px;
  top: 18px;
  left: 16px;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-text .key-n {
  width: 100px;
  top: 6px;
  left: 1039px;
  position: absolute;
  height: 100px;
}

.desktop-text .text-wrapper-10 {
  position: absolute;
  width: 27px;
  height: 48px;
  top: 18px;
  left: 33px;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-text .key-auto {
  width: 120px;
  top: 0;
  left: 1155px;
  position: absolute;
  height: 100px;
}

.desktop-text .overlap-group-wrapper {
  position: relative;
  width: 116px;
  height: 84px;
  top: 8px;
  left: 3px;
}

.desktop-text .overlap-group-2 {
  position: relative;
  width: 114px;
  height: 84px;
  background-color: #aeadad;
  border-radius: 10px;
  box-shadow: inset 0px 4px 4px #00000040, 0px 4px 4px #00000040;
}

.desktop-text .text-wrapper-11 {
  position: absolute;
  width: 99px;
  height: 48px;
  top: 18px;
  left: 7px;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-text .row-2 {
  position: absolute;
  width: 1273px;
  height: 101px;
  top: 105px;
  left: 1px;
}

.desktop-text .key-w {
  width: 100px;
  top: 1px;
  left: 0;
  position: absolute;
  height: 100px;
}

.desktop-text .group-2 {
  width: 96px;
  height: 84px;
  left: 3px;
  position: relative;
  top: 8px;
}

.desktop-text .text-wrapper-12 {
  position: absolute;
  width: 29px;
  height: 48px;
  top: 18px;
  left: 33px;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-text .key-r {
  width: 100px;
  top: 1px;
  left: 116px;
  position: absolute;
  height: 100px;
}

.desktop-text .key-c {
  width: 100px;
  top: 1px;
  left: 230px;
  position: absolute;
  height: 100px;
}

.desktop-text .key-ch {
  width: 100px;
  top: 1px;
  left: 345px;
  position: absolute;
  height: 100px;
}

.desktop-text .text-wrapper-13 {
  position: absolute;
  width: 62px;
  height: 48px;
  top: 18px;
  left: 16px;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-text .key-h {
  width: 100px;
  top: 1px;
  left: 458px;
  position: absolute;
  height: 100px;
}

.desktop-text .key-u {
  width: 100px;
  top: 1px;
  left: 573px;
  position: absolute;
  height: 100px;
}

.desktop-text .text-wrapper-14 {
  position: absolute;
  width: 31px;
  height: 48px;
  top: 18px;
  left: 32px;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-text .key-l {
  width: 100px;
  top: 1px;
  left: 689px;
  position: absolute;
  height: 100px;
}

.desktop-text .key-b {
  width: 100px;
  top: 1px;
  left: 809px;
  position: absolute;
  height: 100px;
}

.desktop-text .text-wrapper-15 {
  position: absolute;
  width: 25px;
  height: 48px;
  top: 17px;
  left: 34px;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-text .key-d {
  width: 100px;
  top: 1px;
  left: 925px;
  position: absolute;
  height: 100px;
}

.desktop-text .key-m {
  width: 100px;
  top: 1px;
  left: 1038px;
  position: absolute;
  height: 100px;
}

.desktop-text .text-wrapper-16 {
  position: absolute;
  width: 25px;
  height: 48px;
  top: 18px;
  left: 34px;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-text .group-wrapper {
  left: 1153px;
  position: absolute;
  width: 120px;
  height: 100px;
  top: 0;
}

.desktop-text .row-3 {
  position: absolute;
  width: 1268px;
  height: 100px;
  top: 554px;
  left: 35px;
}

.desktop-text .group-wrapper-2 {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  left: 0;
}

.desktop-text .group-wrapper-3 {
  width: 100px;
  top: 0;
  left: 114px;
  position: absolute;
  height: 100px;
}

.desktop-text .key-g {
  width: 100px;
  top: 0;
  left: 231px;
  position: absolute;
  height: 100px;
}

.desktop-text .key-y {
  width: 100px;
  top: 0;
  left: 346px;
  position: absolute;
  height: 100px;
}

.desktop-text .key-k {
  width: 100px;
  top: 0;
  left: 461px;
  position: absolute;
  height: 100px;
}

.desktop-text .key-v {
  width: 100px;
  top: 0;
  left: 576px;
  position: absolute;
  height: 100px;
}

.desktop-text .key-j {
  width: 100px;
  top: 0;
  left: 691px;
  position: absolute;
  height: 100px;
}

.desktop-text .key-q {
  width: 100px;
  top: 0;
  left: 807px;
  position: absolute;
  height: 100px;
}

.desktop-text .key-x {
  width: 100px;
  top: 0;
  left: 922px;
  position: absolute;
  height: 100px;
}

.desktop-text .text-wrapper-17 {
  position: absolute;
  width: 38px;
  height: 48px;
  top: 18px;
  left: 28px;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-text .key-z {
  width: 100px;
  top: 0;
  left: 1035px;
  position: absolute;
  height: 100px;
}

.desktop-text .key-auto-2 {
  left: 1148px;
  position: absolute;
  width: 120px;
  height: 100px;
  top: 0;
}

.desktop-text .row-4 {
  position: absolute;
  width: 1252px;
  height: 100px;
  top: 658px;
  left: 37px;
}

.desktop-text .text-wrapper-18 {
  width: 27px;
  top: 17px;
  left: 33px;
  position: absolute;
  height: 48px;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-text .key {
  width: 100px;
  top: 0;
  left: 232px;
  position: absolute;
  height: 100px;
}

.desktop-text .text-wrapper-19 {
  width: 30px;
  top: 17px;
  left: 32px;
  position: absolute;
  height: 48px;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-text .key-2 {
  width: 100px;
  top: 0;
  left: 347px;
  position: absolute;
  height: 100px;
}

.desktop-text .text-wrapper-20 {
  width: 26px;
  top: 17px;
  left: 34px;
  position: absolute;
  height: 48px;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-text .key-3 {
  width: 100px;
  top: 0;
  left: 464px;
  position: absolute;
  height: 100px;
}

.desktop-text .text-wrapper-21 {
  position: absolute;
  width: 31px;
  height: 48px;
  top: 17px;
  left: 32px;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-text .key-4 {
  width: 100px;
  top: 0;
  left: 577px;
  position: absolute;
  height: 100px;
}

.desktop-text .key-5 {
  width: 100px;
  top: 0;
  left: 693px;
  position: absolute;
  height: 100px;
}

.desktop-text .key-6 {
  width: 100px;
  top: 0;
  left: 808px;
  position: absolute;
  height: 100px;
}

.desktop-text .key-7 {
  width: 100px;
  top: 0;
  left: 923px;
  position: absolute;
  height: 100px;
}

.desktop-text .key-8 {
  width: 100px;
  top: 0;
  left: 1037px;
  position: absolute;
  height: 100px;
}

.desktop-text .key-backspace {
  width: 100px;
  top: 0;
  left: 1152px;
  position: absolute;
  height: 100px;
}

.desktop-text .img-wrapper {
  position: relative;
  width: 94px;
  height: 84px;
  top: 8px;
  left: 3px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040, inset 0px 4px 4px #00000040;
}

.desktop-text .backspace {
  position: absolute;
  width: 52px;
  height: 43px;
  top: 20px;
  left: 21px;
}

.desktop-text .row-5 {
  position: absolute;
  width: 1078px;
  height: 103px;
  top: 768px;
  left: 139px;
}

.desktop-text .key-speak-it {
  position: absolute;
  width: 190px;
  height: 100px;
  top: 3px;
  left: 0;
}

.desktop-text .group-3 {
  position: relative;
  width: 186px;
  height: 84px;
  top: 5px;
  left: 3px;
}

.desktop-text .speak-it-wrapper {
  position: relative;
  width: 184px;
  height: 84px;
  background-color: #d9d9d9;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040, inset 0px 4px 4px #00000040;
}

.desktop-text .speak-it {
  position: absolute;
  width: 148px;
  height: 47px;
  top: 19px;
  left: 18px;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-text .key-space {
  width: 470px;
  top: 3px;
  left: 209px;
  position: absolute;
  height: 100px;
}

.desktop-text .group-4 {
  position: relative;
  width: 466px;
  height: 84px;
  top: 5px;
  left: 3px;
}

.desktop-text .overlap-group-3 {
  position: relative;
  width: 464px;
  height: 84px;
}

.desktop-text .rectangle {
  position: absolute;
  width: 463px;
  height: 84px;
  top: 0;
  left: 0;
  background-color: #d9d9d9;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040, inset 0px 4px 4px #00000040;
}

.desktop-text .text-wrapper-22 {
  position: absolute;
  width: 460px;
  height: 56px;
  top: 14px;
  left: 4px;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-text .key-new-phrase {
  position: absolute;
  width: 260px;
  height: 100px;
  top: 0;
  left: 698px;
}

.desktop-text .group-5 {
  position: relative;
  width: 256px;
  height: 84px;
  top: 8px;
  left: 3px;
}

.desktop-text .overlap-group-4 {
  position: relative;
  width: 254px;
  height: 84px;
  background-color: #d9d9d9;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040, inset 0px 4px 4px #00000040;
}

.desktop-text .text-wrapper-23 {
  position: absolute;
  width: 253px;
  height: 52px;
  top: 21px;
  left: 1px;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-text .key-go-back {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  left: 978px;
}

.desktop-text .go-back-icon {
  position: absolute;
  width: 61px;
  height: 44px;
  top: 20px;
  left: 17px;
}

.desktop-text .phrase-text {
  position: absolute;
  width: 905px;
  height: 212px;
  top: 31px;
  left: 212px;
}

.desktop-text .phrase {
  height: 210px;
  background-color: #c3fbff;
  box-shadow: inset 0px 4px 4px #00000040, 0px 4px 4px #00000040;
}

.desktop-text .predictive-text {
  position: absolute;
  width: 910px;
  height: 60px;
  top: 272px;
  left: 212px;
}

.desktop-text .prediction {
  left: 5px;
  position: absolute;
  width: 300px;
  height: 55px;
  top: 3px;
  background-color: #c3fbff;
  box-shadow: inset 0px 4px 4px #00000040, 0px 4px 4px #00000040;
}

.desktop-text .prediction-2 {
  left: 305px;
  position: absolute;
  width: 300px;
  height: 55px;
  top: 3px;
  background-color: #c3fbff;
  box-shadow: inset 0px 4px 4px #00000040, 0px 4px 4px #00000040;
}

.desktop-text .prediction-3 {
  left: 605px;
  position: absolute;
  width: 300px;
  height: 55px;
  top: 3px;
  background-color: #c3fbff;
  box-shadow: inset 0px 4px 4px #00000040, 0px 4px 4px #00000040;
}

.desktop-text .button-main-menu {
  position: absolute;
  width: 310px;
  height: 150px;
  top: 834px;
  left: 1497px;
}

.desktop-text .group-6 {
  width: 307px;
  height: 135px;
  left: 2px;
  position: relative;
  top: 8px;
}

.desktop-text .overlap-group-5 {
  position: relative;
  width: 305px;
  height: 135px;
  background-color: #d9d9d9;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040, inset 0px 4px 4px #00000040;
}

.desktop-text .text-wrapper-24 {
  position: absolute;
  width: 305px;
  height: 135px;
  top: 0;
  left: 0;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-text .button-large {
  width: 310px;
  top: 834px;
  left: 0;
  position: absolute;
  height: 150px;
}

.desktop-text .page-title {
  position: absolute;
  width: 772px;
  height: 82px;
  top: 0;
  left: 540px;
}

.desktop-text .text-speech {
  position: absolute;
  width: 727px;
  height: 82px;
  top: -1px;
  left: 22px;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-text .button-settings {
  width: 225px;
  top: 654px;
  left: 1579px;
  overflow: hidden;
  position: absolute;
  height: 150px;
}

.desktop-text .group-7 {
  position: relative;
  width: 222px;
  height: 135px;
  top: 5px;
  left: 5px;
}

.desktop-text .overlap-group-6 {
  position: relative;
  width: 220px;
  height: 135px;
  background-color: #d9d9d9;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040, inset 0px 4px 4px #00000040;
}

.desktop-text .text {
  position: absolute;
  width: 220px;
  height: 135px;
  top: 0;
  left: 0;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-text .button-outlet {
  position: absolute;
  width: 225px;
  height: 150px;
  top: 472px;
  left: 1579px;
  overflow: hidden;
}

.desktop-text .button-music {
  width: 225px;
  top: 286px;
  left: 1579px;
  overflow: hidden;
  position: absolute;
  height: 150px;
}

.desktop-text .button-TV-controls {
  position: absolute;
  width: 225px;
  height: 150px;
  top: 94px;
  left: 1579px;
  overflow: hidden;
}

.desktop-text .button-ask-something {
  position: absolute;
  width: 225px;
  height: 150px;
  top: 654px;
  left: 0;
  overflow: hidden;
}

.desktop-text .button-starts-with {
  position: absolute;
  width: 225px;
  height: 150px;
  top: 472px;
  left: 0;
  overflow: hidden;
}

.desktop-text .button-no {
  width: 225px;
  top: 286px;
  left: 0;
  overflow: hidden;
  position: absolute;
  height: 150px;
}

.desktop-text .button-yes {
  width: 225px;
  top: 94px;
  left: 0;
  overflow: hidden;
  position: absolute;
  height: 150px;
}
