#main-menu {
  display: block;
  /* Initially visible */
}

#text-2-speech {
  display: none;
  /* Initially hidden */
}

#yes-no-menu {
  display: none;
}

#common-phrase-menu {
  display: none;
}

#outlet-menu {
  display: none;
}

#send-email-menu {
  display: none;
}

#settings-page {
  display: none;
}

.overlap-group.highlighted {
  background-color: #ffe135;
  /* Bright yellow for visibility */
  border: 2px solid #000;
  /* Solid black border */
  box-shadow: 0 0 10px #000;
  /* Black shadow for a glowing effect */
}

/*
====================================================================================================
                                        MAIN MENU CSS
====================================================================================================
*/

.desktop-main-menu {
  background-color: #cffcff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop-main-menu .div {
  background-color: #cffcff;
  width: 1920px;
  height: 1080px;
  position: relative;
}

.desktop-main-menu .page-title {
  position: absolute;
  width: 772px;
  height: 82px;
  top: 20px;
  left: 596px;
}

.desktop-main-menu .text-wrapper {
  position: absolute;
  width: 727px;
  height: 82px;
  top: -1px;
  left: 22px;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

div.button-text-speech {
  position: absolute;
  width: 432px;
  height: 212px;
  top: 295px;
  left: 191px;
}

div.button-yes-no {
  position: absolute;
  width: 432px;
  height: 212px;
  top: 295px;
  left: 771px;
}

div.button-common-phrase {
  top: 295px;
  left: 1340px;
  position: absolute;
  width: 432px;
  height: 212px;
}

div.button-send-email {
  position: absolute;
  width: 432px;
  height: 212px;
  top: 613px;
  left: 478px;
}

div.button-settings {
  top: 613px;
  left: 1059px;
  position: absolute;
  width: 432px;
  height: 212px;
}

div.button-outlet-controls {
  top: 613px;
  left: 1100px;
  position: absolute;
  width: 432px;
  height: 212px;
}

div.text-wrapper-settings {
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
}

div.settings-tip {
  top: 15%;
  right: 2%;
  position: absolute;
  width: 250px;
  height: 110px;
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

div.settings-tip-text-wrapper {
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
}

div.mouse-tip-text-wrapper {
  top: 85%;
  left: 10%;
  position: absolute;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #000;
  font-size: 36px;
}

.desktop-main-menu .group {
  width: 434px;
  height: 212px;
}

.desktop-main-menu .overlap-group {
  position: absolute;
  width: 432px;
  height: 212px;
  background-color: #d9d9d9;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040, inset 0px 4px 4px #00000040;
}

.desktop-main-menu .text-wrapper-2 {
  position: absolute;
  width: 432px;
  height: 112px;
  top: 80px;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  text-align: center;
}


/*
====================================================================================================
                                        TEXT-2-SPEECH CSS
====================================================================================================
*/

.desktop-text {
  background-color: #cffcff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop-text .overlap-wrapper {
  background-color: #cffcff;
  width: 1920px;
  height: 1080px;
}

.desktop-text .overlap {
  position: relative;
  width: 1807px;
  height: 984px;
  top: 20px;
  left: 56px;
}

.desktop-text .overlap-group {
  position: absolute;
  width: 1807px;
  height: 984px;
  top: 0;
  left: 0;
}

.desktop-text .keyboard {
  position: absolute;
  width: 1275px;
  height: 922px;
  top: 55px;
  left: 270px;
  overflow: hidden;
}

.desktop-text .div {
  position: absolute;
  width: 1330px;
  height: 340px;
  top: 12px;
  left: -31px;
  background-color: #cffcff;
}

.desktop-text .overlap-2 {
  position: absolute;
  width: 1275px;
  height: 556px;
  top: 341px;
  left: 31px;
}

.desktop-text .row {
  position: absolute;
  width: 1275px;
  height: 106px;
  top: 0;
  left: 0;
}
.desktop-text .key-mini-space {
  width: 100px;
  top: 6px;
  left: 0;
  position: absolute;
  height: 100px;
}
.desktop-text .key-q {
  width: 100px;
  top: 6px;
  left: 0;
  position: absolute;
  height: 84px;
}
.desktop-text .group-mini-space {
  position: relative;
  width: 96px;
  height: 84px;
}
.desktop-text .group {
  position: relative;
  width: 96px;
  height: 84px;
}

.desktop-text .div-wrapper {
  position: relative;
  width: 100px;
  height: 84px;
  background-color: #d9d9d9;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040, inset 0px 4px 4px #00000040;
}

.desktop-text .div-wrapper-delete {
  position: relative;
  width: 200px;
  height: 84px;
  background-color: #d9d9d9;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040, inset 0px 4px 4px #00000040;
}
.desktop-text .text-mini-space {
  position: absolute;
  width: 100px;
  height: 48px;
  top: 18px;
  left: 0px;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
.desktop-text .text-q {
  position: absolute;
  width: 22px;
  height: 48px;
  top: 18px;
  left: 36px;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-text .key-w {
  width: 100px;
  top: 6px;
  left: 115px;
  position: absolute;
  height: 84px;
}

.desktop-text .text-wrapper-2 {
  position: absolute;
  width: 41px;
  height: 48px;
  top: 18px;
  left: 26px;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-text .key-e {
  width: 100px;
  top: 6px;
  left: 230px;
  position: absolute;
  height: 84px;
}

.desktop-text .text-wrapper-3 {
  position: absolute;
  width: 26px;
  height: 48px;
  top: 18px;
  left: 34px;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-text .key-r {
  width: 100px;
  top: 6px;
  left: 345px;
  position: absolute;
  height: 84px;
}

.desktop-text .text-wrapper-4 {
  width: 29px;
  top: 17px;
  left: 33px;
  position: absolute;
  height: 48px;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-text .key-t {
  width: 100px;
  top: 6px;
  left: 460px;
  position: absolute;
  height: 84px;
}

.desktop-text .text-wrapper-5 {
  position: absolute;
  width: 26px;
  height: 48px;
  top: 21px;
  left: 34px;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-text .key-y {
  width: 100px;
  top: 6px;
  left: 575px;
  position: absolute;
  height: 84px;
}

.desktop-text .key-u {
  width: 100px;
  top: 6px;
  left: 690px;
  position: absolute;
  height: 84px;
}

.desktop-text .text-wrapper-6 {
  position: absolute;
  width: 30px;
  height: 48px;
  top: 18px;
  left: 32px;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-text .key-i {
  width: 100px;
  top: 6px;
  left: 805px;
  position: absolute;
  height: 84px;
}

.desktop-text .text-wrapper-7 {
  position: absolute;
  width: 14px;
  height: 48px;
  top: 18px;
  left: 40px;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-text .key-o {
  width: 100px;
  top: 6px;
  left: 921px;
  position: absolute;
  height: 84px;
}

.desktop-text .text-wrapper-8 {
  position: absolute;
  width: 31px;
  height: 48px;
  top: 18px;
  left: 32px;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-text .key-p {
  width: 100px;
  top: 6px;
  left: 1039px;
  position: absolute;
  height: 84px;
}

.desktop-text .text-wrapper-9 {
  width: 27px;
  top: 18px;
  left: 33px;
  position: absolute;
  height: 48px;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-text .key-auto {
  width: 116px;
  top: 6px;
  left: 1155px;
  position: absolute;
  height: 84px;
}

.desktop-text .overlap-group-wrapper {
  position: relative;
  width: 116px;
  height: 84px;
}

.desktop-text .overlap-group-2 {
  position: relative;
  width: 114px;
  height: 84px;
  background-color: #aeadad;
  border-radius: 10px;
  box-shadow: inset 0px 4px 4px #00000040, 0px 4px 4px #00000040;
}

.desktop-text .text-wrapper-10 {
  position: absolute;
  width: 99px;
  height: 48px;
  top: 18px;
  left: 7px;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-text .row-2 {
  position: absolute;
  width: 1157px;
  height: 101px;
  top: 105px;
  left: 56px;
}

.desktop-text .key-a {
  width: 100px;
  top: 1px;
  left: 0;
  position: absolute;
  height: 84px;
}

.desktop-text .group-2 {
  width: 96px;
  height: 84px;
  position: relative;
}

.desktop-text .group-delete {
  width: 196px;
  height: 84px;
  left: 3px;
  position: relative;
  top: 8px;
}

.desktop-text .text-wrapper-1 {
  text-align: center;
  font-weight: bold;
  font-size: xx-large;
}

.desktop-text .text-wrapper-11 {
  position: absolute;
  width: 29px;
  height: 48px;
  top: 18px;
  left: 33px;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-text .key-s {
  width: 100px;
  top: 1px;
  left: 114px;
  position: absolute;
  height: 84px;
}

.desktop-text .key-d {
  width: 100px;
  top: 1px;
  left: 229px;
  position: absolute;
  height: 84px;
}

.desktop-text .key-f {
  width: 100px;
  top: 1px;
  left: 342px;
  position: absolute;
  height: 84px;
}

.desktop-text .key-g {
  width: 100px;
  top: 1px;
  left: 457px;
  position: absolute;
  height: 84px;
}

.desktop-text .key-h {
  width: 100px;
  top: 1px;
  left: 573px;
  position: absolute;
  height: 84px;
}

.desktop-text .key-j {
  width: 100px;
  top: 1px;
  left: 693px;
  position: absolute;
  height: 84px;
}

.desktop-text .text-wrapper-12 {
  position: absolute;
  width: 25px;
  height: 48px;
  top: 17px;
  left: 34px;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-text .key-k {
  width: 100px;
  top: 1px;
  left: 809px;
  position: absolute;
  height: 84px;
}

.desktop-text .key-l {
  width: 100px;
  top: 1px;
  left: 922px;
  position: absolute;
  height: 84px;
}

.desktop-text .text-wrapper-13 {
  width: 25px;
  top: 18px;
  left: 34px;
  position: absolute;
  height: 48px;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-text .group-wrapper {
  left: 1037px;
  position: absolute;
  width: 120px;
  height: 100px;
  top: 0;
}

.desktop-text .row-3 {
  position: absolute;
  width: 1146px;
  height: 100px;
  top: 554px;
  left: 120px;
}

.desktop-text .group-wrapper-2 {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  left: 0;
}

.desktop-text .img-wrapper {
  position: relative;
  width: 94px;
  height: 84px;
  top: 8px;
  left: 3px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040, inset 0px 4px 4px #00000040;
}

.desktop-text .key-z {
  width: 100px;
  top: 0;
  left: 15px;
  position: absolute;
  height: 84px;
}

.desktop-text .key-x {
  width: 100px;
  top: 0;
  left: 129px;
  position: absolute;
  height: 84px;
}

.desktop-text .key-c {
  width: 100px;
  top: 0;
  left: 243px;
  position: absolute;
  height: 84px;
}

.desktop-text .key-v {
  width: 100px;
  top: 0;
  left: 358px;
  position: absolute;
  height: 84px;
}

.desktop-text .key-b {
  width: 100px;
  top: 0;
  left: 472px;
  position: absolute;
  height: 84px;
}

.desktop-text .key-n {
  width: 100px;
  top: 0;
  left: 586px;
  position: absolute;
  height: 84px;
}

.desktop-text .key-m {
  width: 100px;
  top: 0;
  left: 699px;
  position: absolute;
  height: 84px;
}

.desktop-text .text-wrapper-14 {
  position: absolute;
  width: 38px;
  height: 48px;
  top: 18px;
  left: 28px;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-text .key-backspace {
  width: 200px;
  top: 0;
  left: 812px;
  position: absolute;
  height: 100px;
}

.desktop-text .backspace {
  position: absolute;
  width: 52px;
  height: 43px;
  top: 20px;
  left: 21px;
}

.desktop-text .key-auto-2 {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 40px;
  left: 1150px;
}

.desktop-text .row-4 {
  position: absolute;
  width: 1110px;
  height: 100px;
  top: 658px;
  left: 100px;
}

.desktop-text .key {
  width: 100px;
  left: 112px;
  position: absolute;
  height: 100px;
}
.desktop-text .key-mini-space{
  width: 100px;
  left: 1150px;
  top: 240px;
  position: absolute;
  height: 84px;
}
.desktop-text .key-00 {
  width: 100px;
  top: 0;
  left: 0px;
  position: absolute;
  height: 100px;
}

.desktop-text .text-wrapper-15 {
  width: 27px;
  top: 17px;
  left: 33px;
  position: absolute;
  height: 48px;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-text .key-2 {
  width: 100px;
  top: 0;
  left: 224px;
  position: absolute;
  height: 100px;
}

.desktop-text .text-wrapper-16 {
  width: 30px;
  top: 17px;
  left: 32px;
  position: absolute;
  height: 48px;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-text .key-3 {
  width: 100px;
  top: 0;
  left: 335px;
  position: absolute;
  height: 100px;
}

.desktop-text .text-wrapper-17 {
  width: 26px;
  top: 17px;
  left: 34px;
  position: absolute;
  height: 48px;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-text .key-4 {
  width: 100px;
  top: 0;
  left: 446px;
  position: absolute;
  height: 100px;
}

.desktop-text .text-wrapper-18 {
  position: absolute;
  width: 31px;
  height: 48px;
  top: 17px;
  left: 32px;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-text .key-5 {
  width: 100px;
  top: 0;
  left: 556px;
  position: absolute;
  height: 100px;
}

.desktop-text .key-6 {
  width: 100px;
  top: 0;
  left: 670px;
  position: absolute;
  height: 100px;
}

.desktop-text .key-7 {
  width: 100px;
  top: 0;
  left: 784px;
  position: absolute;
  height: 100px;
}

.desktop-text .key-8 {
  width: 100px;
  top: 0;
  left: 896px;
  position: absolute;
  height: 100px;
}

.desktop-text .key-9 {
  width: 100px;
  top: 0;
  left: 1010px;
  position: absolute;
  height: 100px;
}

.desktop-text .row-5 {
  position: absolute;
  width: 1078px;
  height: 103px;
  top: 768px;
  left: 139px;
}

.desktop-text .key-speak-it {
  position: absolute;
  width: 190px;
  height: 100px;
  top: 3px;
  left: 0;
}

.desktop-text .group-3 {
  position: relative;
  width: 186px;
  height: 84px;
  top: 5px;
  left: 3px;
}

.desktop-text .speak-it-wrapper {
  position: relative;
  width: 184px;
  height: 84px;
  background-color: #d9d9d9;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040, inset 0px 4px 4px #00000040;
}

.desktop-text .speak-it {
  position: absolute;
  width: 148px;
  height: 47px;
  top: 19px;
  left: 18px;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-text .key-space {
  width: 470px;
  top: 3px;
  left: 209px;
  position: absolute;
  height: 100px;
}

.desktop-text .group-4 {
  position: relative;
  width: 466px;
  height: 84px;
  top: 5px;
  left: 3px;
}

.desktop-text .overlap-group-3 {
  position: relative;
  width: 464px;
  height: 84px;
}

.desktop-text .rectangle {
  position: absolute;
  width: 463px;
  height: 84px;
  top: 0;
  left: 0;
  background-color: #d9d9d9;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040, inset 0px 4px 4px #00000040;
}

.desktop-text .text-wrapper-19 {
  position: absolute;
  width: 460px;
  height: 56px;
  top: 14px;
  left: 4px;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-text .key-new-phrase {
  position: absolute;
  width: 260px;
  height: 100px;
  top: 0;
  left: 698px;
}

.desktop-text .group-5 {
  position: relative;
  width: 256px;
  height: 84px;
  top: 8px;
  left: 3px;
}

.desktop-text .overlap-group-4 {
  position: relative;
  width: 254px;
  height: 84px;
  background-color: #d9d9d9;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040, inset 0px 4px 4px #00000040;
}

.desktop-text .text-wrapper-20 {
  position: absolute;
  width: 253px;
  height: 52px;
  top: 21px;
  left: 1px;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-text .key-go-back {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 140px;
  left: 1150px;
}

.desktop-text .go-back-icon {
  position: absolute;
  width: 61px;
  height: 44px;
  top: 20px;
  left: 17px;
}

.desktop-text .phrase-text {
  position: absolute;
  width: 905px;
  height: 212px;
  top: 31px;
  left: 212px;
  font-size: 80px;
  /* Adjust font size as needed */
  font-weight: bold;
  /* Make the text bold */
}

.desktop-text .phrase {
  height: 210px;
  background-color: #c3fbff;
  box-shadow: inset 0px 4px 4px #00000040, 0px 4px 4px #00000040;
}

.desktop-text .predictive-text {
  position: absolute;
  width: 910px;
  height: 60px;
  top: 272px;
  left: 212px;
}

.desktop-text .prediction {
  left: 5px;
  position: absolute;
  width: 300px;
  height: 55px;
  top: 3px;
  background-color: #c3fbff;
  box-shadow: inset 0px 4px 4px #00000040, 0px 4px 4px #00000040;
  font-family: "Work Sans", Helvetica;
  font-size: 30px;
  /* Adjust font size as needed */
  font-weight: bold;
  /* Make the text bold */
  text-align: center;
  /* Center text horizontally */
}

.desktop-text .prediction-2 {
  left: 305px;
  position: absolute;
  width: 300px;
  height: 55px;
  top: 3px;
  background-color: #c3fbff;
  box-shadow: inset 0px 4px 4px #00000040, 0px 4px 4px #00000040;
  font-family: "Work Sans", Helvetica;
  font-size: 30px;
  /* Adjust font size as needed */
  font-weight: bold;
  /* Make the text bold */
  text-align: center;
  /* Center text horizontally */
}

.desktop-text .prediction-3 {
  left: 605px;
  position: absolute;
  width: 300px;
  height: 55px;
  top: 3px;
  background-color: #c3fbff;
  box-shadow: inset 0px 4px 4px #00000040, 0px 4px 4px #00000040;
  font-family: "Work Sans", Helvetica;
  font-size: 30px;
  /* Adjust font size as needed */
  font-weight: bold;
  /* Make the text bold */
  text-align: center;
  /* Center text horizontally */
}
.desktop-text .key-space-small{
  width: 120px;
  top: 0;
  left: 1155px;
  position: absolute;
  height: 0px;
}

.desktop-text .button-main-menu {
  position: absolute;
  width: 310px;
  height: 150px;
  top: 834px;
  left: 1497px;
}

.desktop-text .group-6 {
  width: 307px;
  height: 135px;
  left: 2px;
  position: relative;
  top: 8px;
}

.desktop-text .overlap-group-5 {
  position: relative;
  width: 305px;
  height: 135px;
  background-color: #d9d9d9;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040, inset 0px 4px 4px #00000040;
}

.desktop-text .text-wrapper-21 {
  position: absolute;
  width: 305px;
  height: 135px;
  top: 0;
  left: 0;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-text .button-large {
  width: 310px;
  top: 834px;
  left: 0;
  position: absolute;
  height: 150px;
}

.desktop-text .page-title {
  position: absolute;
  width: 772px;
  height: 82px;
  top: 0;
  left: 540px;
}

.desktop-text .text-speech {
  position: absolute;
  width: 727px;
  height: 82px;
  top: -1px;
  left: 22px;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-text .button-settings {
  width: 225px;
  top: 654px;
  left: 1579px;
  overflow: hidden;
  position: absolute;
  height: 150px;
}

.desktop-text .group-7 {
  position: relative;
  width: 222px;
  height: 135px;
  top: 5px;
  left: 5px;
}

.desktop-text .overlap-group-6 {
  position: relative;
  width: 220px;
  height: 135px;
  background-color: #d9d9d9;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040, inset 0px 4px 4px #00000040;
}

.desktop-text .text {
  position: absolute;
  width: 220px;
  height: 135px;
  top: 0;
  left: 0;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}


.desktop-text .button-outlet {
  position: absolute;
  width: 225px;
  height: 150px;
  top: 472px;
  left: 1579px;
  overflow: hidden;
}

.desktop-text .button-music {
  width: 225px;
  top: 286px;
  left: 1579px;
  overflow: hidden;
  position: absolute;
  height: 150px;
}

.desktop-text .button-TV-controls {
  position: absolute;
  width: 225px;
  height: 150px;
  top: 94px;
  left: 1579px;
  overflow: hidden;
}

.desktop-text .button-ask-something {
  position: absolute;
  width: 225px;
  height: 150px;
  top: 654px;
  left: 0;
  overflow: hidden;
}

.desktop-text .button-starts-with {
  position: absolute;
  width: 225px;
  height: 150px;
  top: 472px;
  left: 0;
  overflow: hidden;
}

.desktop-text .button-no-t {
  width: 225px;
  top: 286px;
  left: 0;
  overflow: hidden;
  position: absolute;
  height: 150px;
}

.desktop-text .text-no {
  position: absolute;
  width: 220px;
  height: 35px;
  top: 40px;
  left: 0;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-text .button-yes-t {
  width: 225px;
  top: 94px;
  left: 0;
  overflow: hidden;
  position: absolute;
  height: 150px;
}

.desktop-text .text-yes {
  position: absolute;
  width: 220px;
  height: 35px;
  top: 40px;
  left: 0;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

/* Does nothing but when removed, user TV Remote
buttons click doesn't register to the Arduino */
#init-remote-btn {
  display: none;
}

/*
====================================================================================================
                                        YES/NO CSS
====================================================================================================
*/

.desktop-Yes-No {
  background-color: #cffcff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop-Yes-No .div {
  background-color: #cffcff;
  width: 1920px;
  height: 1080px;
  position: relative;
}

.desktop-Yes-No .button-No {
  position: absolute;
  width: 432px;
  height: 212px;
  top: 295px;
  left: 55%;
}

.desktop-Yes-No .button-Yes {
  position: absolute;
  width: 432px;
  height: 212px;
  top: 295px;
  left: 25%;
}

.desktop-Yes-No .button-main-menu {
  position: absolute;
  width: 432px;
  height: 212px;
  bottom: 10%;
  left: 40%;
}

.desktop-Yes-No .group {
  top: 5px;
  left: 5px;
  width: 432px;
  height: 212px;
  position: relative;
}

.desktop-Yes-No .overlap-group {
  position: relative;
  width: 432px;
  height: 212px;
  background-color: #d9d9d9;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040, inset 0px 4px 4px #00000040;
}

.desktop-Yes-No .text {
  position: absolute;
  width: 220px;
  height: 135px;
  top: 0;
  left: 0;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

/*
====================================================================================================
                                        COMMON PHRASES CSS
====================================================================================================
*/

.common-phrase-menu {
  background-color: #cffcff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.common-phrase-menu .div {
  background-color: #cffcff;
  width: 1920px;
  height: 1080px;
  position: relative;
}

.common-phrase-menu .button-main-menu {
  position: absolute;
  width: 225px;
  height: 150px;
  top: 826px;
  left: 1418px;
  overflow: hidden;
}

.common-phrase-menu .group {
  position: relative;
  width: 222px;
  height: 135px;
  top: 5px;
  left: 5px;
}

.common-phrase-menu .overlap-group {
  position: relative;
  width: 220px;
  height: 135px;
  background-color: #d9d9d9;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040, inset 0px 4px 4px #00000040;
}

.common-phrase-menu .text {
  position: absolute;
  width: 220px;
  height: 135px;
  top: 0;
  left: 0;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.common-phrase-menu .button-settings {
  position: absolute;
  width: 225px;
  height: 150px;
  top: 826px;
  left: 1133px;
  overflow: hidden;
}

.common-phrase-menu .button-outlet {
  position: absolute;
  width: 225px;
  height: 150px;
  top: 826px;
  left: 848px;
  overflow: hidden;
}

.common-phrase-menu .button-TV-controls {
  position: absolute;
  width: 225px;
  height: 150px;
  top: 826px;
  left: 563px;
  overflow: hidden;
}

.common-phrase-menu .button-text-speech {
  position: absolute;
  width: 225px;
  height: 150px;
  top: 826px;
  left: 278px;
  overflow: hidden;
}

.common-phrase-menu .button-skip-song {
  position: absolute;
  width: 225px;
  height: 150px;
  top: 623px;
  left: 1187px;
  overflow: hidden;
}

.common-phrase-menu .button-PAUSE-PLAY {
  position: absolute;
  width: 225px;
  height: 150px;
  top: 623px;
  left: 45%;
  overflow: hidden;
}

.common-phrase-menu .button-previous-song {
  position: absolute;
  width: 225px;
  height: 150px;
  top: 623px;
  left: 540px;
  overflow: hidden;
}

.common-phrase-menu .button-uncomfortable {
  position: absolute;
  width: 432px;
  height: 212px;
  top: 20%;
  left: 10%;
}

.common-phrase-menu .button-nauseous {
  position: absolute;
  width: 432px;
  height: 212px;
  top: 20%;
  left: 40%;
}

.common-phrase-menu .button-pain {
  position: absolute;
  width: 432px;
  height: 212px;
  top: 20%;
  left: 70%;
}

.common-phrase-menu .button-thank-you {
  position: absolute;
  width: 432px;
  height: 212px;
  top: 50%;
  left: 10%;
}

.common-phrase-menu .button-hello {
  position: absolute;
  width: 432px;
  height: 212px;
  top: 50%;
  left: 40%;
}

.common-phrase-menu .button-bye {
  position: absolute;
  width: 432px;
  height: 212px;
  top: 50%;
  left: 70%;
}

.common-phrase-menu .overlap-group-wrapper {
  width: 434px;
  height: 212px;
}

.common-phrase-menu .quick-phrases-wrapper {
  position: relative;
  width: 432px;
  height: 212px;
  background-color: #d9d9d9;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040, inset 0px 4px 4px #00000040;
}

.common-phrase-menu .quick-phrases {
  position: absolute;
  width: 432px;
  height: 212px;
  top: 0;
  left: 0;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.common-phrase-menu .button-play-ALL {
  position: absolute;
  width: 432px;
  height: 212px;
  top: 358px;
  left: 744px;
}

.common-phrase-menu .display {
  position: absolute;
  width: 800px;
  height: 148px;
  top: 172px;
  left: 582px;
}

.common-phrase-menu .song-playing {
  position: absolute;
  width: 800px;
  height: 55px;
  top: 93px;
  left: 0;
  background-color: #c3fbff;
  box-shadow: inset 0px 4px 4px #00000040, 0px 4px 4px #00000040;
}

.common-phrase-menu .genre {
  position: absolute;
  width: 400px;
  height: 55px;
  top: 0;
  left: 206px;
  background-color: #c3fbff;
  box-shadow: inset 0px 4px 4px #00000040, 0px 4px 4px #00000040;
}

.common-phrase-menu .page-title {
  position: absolute;
  width: 772px;
  height: 82px;
  top: 20px;
  left: 596px;
}

.common-phrase-menu .text-wrapper {
  position: absolute;
  width: 727px;
  height: 82px;
  top: -1px;
  left: 22px;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}



/*
====================================================================================================
                                        SETTINGS CSS
====================================================================================================
*/

.desktop-settings {
  background-color: #cffcff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop-settings .div {
  background-color: #cffcff;
  width: 1920px;
  height: 1080px;
  position: relative;
}

.desktop-settings .button-go-back {
  position: absolute;
  width: 310px;
  height: 150px;
  top: 710px;
  left: 1198px;
}

.desktop-settings .group {
  position: relative;
  width: 307px;
  height: 135px;
  top: 8px;
  left: 2px;
}

.desktop-settings .overlap-group {
  position: relative;
  width: 305px;
  height: 135px;
  background-color: #d9d9d9;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040, inset 0px 4px 4px #00000040;
}

.desktop-settings .quick-phrases {
  position: absolute;
  width: 305px;
  height: 135px;
  top: 0;
  left: 0;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-settings .keyboard-selection {
  position: absolute;
  width: 688px;
  height: 206px;
  top: 698px;
  left: 397px;
}

.desktop-settings .switch-key-THAEL {
  position: absolute;
  width: 324px;
  height: 206px;
  top: 0;
  left: 364px;
}

.desktop-settings .group-wrapper {
  position: absolute;
  width: 305px;
  height: 135px;
  top: 16px;
  left: 10px;
  background-color: #cfcdcd;
  border-radius: 100px;
  box-shadow: inset 0px 4px 4px #00000040, inset 0px 4px 4px #00000040, 0px 4px 4px #00000040;
}

.desktop-settings .overlap-group-wrapper {
  position: relative;
  width: 96px;
  height: 94px;
  top: 24px;
  left: 188px;
}

.desktop-settings .div-wrapper {
  position: relative;
  width: 94px;
  height: 94px;
  background-color: #d9d9d9;
  border-radius: 47px;
  box-shadow: inset 0px 4px 4px #00000040, 0px 4px 4px #00000040;
}

.desktop-settings .text-wrapper {
  position: absolute;
  width: 93px;
  height: 68px;
  top: 13px;
  left: 1px;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-settings .outer-text {
  position: absolute;
  width: 265px;
  height: 33px;
  top: 157px;
  left: 38px;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop-settings .div-2 {
  position: absolute;
  width: 324px;
  height: 206px;
  top: 0;
  left: 0;
}

.desktop-settings .group-2 {
  position: absolute;
  width: 305px;
  height: 135px;
  top: 16px;
  left: 10px;
  background-color: #ffffff;
  border-radius: 100px;
  box-shadow: inset 0px 4px 4px #00000040, inset 0px 4px 4px #00000040, 0px 4px 4px #00000040;
}

.desktop-settings .group-3 {
  position: relative;
  width: 96px;
  height: 94px;
  top: 24px;
  left: 24px;
}

.desktop-settings .speed-selection {
  position: absolute;
  width: 1420px;
  height: 426px;
  top: 217px;
  left: 250px;
}

.desktop-settings .switch-speed-sec {
  position: absolute;
  width: 324px;
  height: 206px;
  top: 220px;
  left: 1096px;
}

.desktop-settings .switch-speed-sec-2 {
  position: absolute;
  width: 324px;
  height: 206px;
  top: 220px;
  left: 710px;
}

.desktop-settings .switch-speed-sec-3 {
  position: absolute;
  width: 324px;
  height: 206px;
  top: 220px;
  left: 346px;
}

.desktop-settings .switch-speed-sec-4 {
  position: absolute;
  width: 324px;
  height: 206px;
  top: 220px;
  left: 0;
}

.desktop-settings .switch-speed-sec-5 {
  position: absolute;
  width: 324px;
  height: 206px;
  top: 0;
  left: 1096px;
}

.desktop-settings .switch-speed-sec-6 {
  position: absolute;
  width: 324px;
  height: 206px;
  top: 0;
  left: 710px;
}

.desktop-settings .switch-speed-sec-7 {
  position: absolute;
  width: 324px;
  height: 206px;
  top: 0;
  left: 346px;
}

.desktop-settings .switch-speed-sec-8 {
  position: absolute;
  width: 324px;
  height: 206px;
  top: 0;
  left: 0px;
}

.desktop-settings .page-title {
  position: absolute;
  width: 772px;
  height: 82px;
  top: 20px;
  left: 574px;
}

.desktop-settings .text-wrapper-2 {
  position: absolute;
  width: 727px;
  height: 82px;
  top: -1px;
  left: 22px;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}


