html,
body {
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
   background-color: #869CD4;
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}



div#top-bar {
   display: flex;
   flex-direction: row;
   justify-content: center;
   padding: .2rem;
   margin-bottom: 1rem;
}

div#battery {
   justify-self: flex-end;
}

div.menu-wrapper {
   height: 85%;
   width: 100%;
   margin: 0;
   padding: 0;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
}

button.menu-button {
   width: 80%;
   border: 1px solid grey;
   border-radius: .5rem;
   text-align: center;
   padding: .5rem;
   background-color: #B1BEE5;
   font-size: 3em;
   font-family: 'Times New Roman', Times, serif;
   font-weight: bold;
}

div#plug-submenu {
   visibility: hidden;
   position: absolute;
   z-index: 2;
}

div#plug-select {
   visibility: hidden;
   position: absolute;
   z-index: 3;
}

#main-menu {
   visibility: visible;
   position: absolute;
   z-index: 4;
}

#settings-menu {
   visibility: hidden;
   position: absolute;
   z-index: 5;
}

#keyboard-menu {
   visibility: hidden;
   position: absolute;
   z-index: 6;
}

#configure-menu {
   visibility: hidden;
   position: absolute;
   z-index: 7;
}


/* Keyboard CSS stuff */

#keyboard-menu.menu-wrapper {
   justify-content: flex-start;
}


:root {
   --keyboard-text-element-height: 10%;
   --keyboard-text-element-font-size: 0;
   --keyboard-button-font-size: 2em;
   --keyboard-top-row-font-size: 1.7em;
}

.attach-point {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   height: calc(100%-calc(var(--keyboard-text-element-height)*3));
   min-height: calc(100%-calc(var(--keyboard-text-element-height)*3));
}

.keyboard-text {
   width: 90%;
   height: var(--keyboard-text-element-height);
}




.keyboard-row {
   width: 90%;
   display: flex;
   justify-content: center;
   background-color: #B1BEE5;
}

.alpha-keyboard-row {
   height: calc(100%/8);
}

.num-keyboard-row {
   height: calc(100%/5);
}

.keyboard-button {
   width: 25%;
   background-color: inherit;
   border: 1px solid grey;
   text-align: center;
   padding: 0.5rem;
   font-size: var(--keyboard-button-font-size);
   font-family: 'Times New Roman', Times, serif;
   font-weight: bold;
}



.keyboard-text {
   font-size: 2em;
   font-family: 'Times New Roman', Times, serif;
   font-weight: bold;
   justify-content: left;
}

#keyboard-row-1 > button {
   font-size: var(--keyboard-top-row-font-size);
}